@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border: 0;
}

html, body{
    background-color: #E8E8E8;
}

a{
    text-decoration: none;
    color: unset;
}

header{
    background-color: #FFE500;
    height: 70px;
    color: #636363;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 1.5rem;
}

nav img{
    width: 20px;
    cursor: pointer;
}

nav div{
    display: flex;
    align-items: center;
}

#sign-in-link{
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
}

.item-nav{
    margin: 0 10px;
}

main{
    padding: 0 20px 80px 20px;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#product-cart{
    padding-top: 20px;
}

.card{
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.card-product{
    padding: 0 20px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.card-product-left{
    display: flex;
    color: #636363;
}

.card-product-left img{
    width: 100px;
    margin-right: 22px;
}

.product-name-quantity{
    margin-top: 10px;
}

.product-name-quantity h3{
    font-size: 14px;
}

.product-name-quantity p{
    font-weight: bold;
    font-size: 16px;
}

.product-more-less{
    color: #3483FA;
}

.card-product-right{
    color: #0CAF1D;
    margin-top: 10px;
}

.card-total-price{
    padding: 10px 20px;
    color: #0CAF1D;
    font-size: 18px;
    display: flex;
    justify-content: right;
}

.btn-container{
    margin-top: 20px;
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.btn{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
}

.btn-white{
    color: #3483FA;
    background-color: #FFF;
    border: 1px solid #3483FA;
}

.btn-white:hover{
    background-color: #ececec;
    transition: 0.5s;
}

.btn-blue{
    background-color: #3483FA;
    color: #FFF;
}

.btn-blue:hover{
    background-color: #2e75df;
    transition: 0.5s;
}

@media(max-width: 576px){
    .product-name-quantity h3{
        font-size: 12px;
    }

    .card-product-right{
        font-size: 14px;
    }

    .btn-container{
        width: 100%;
    }

    .card-total-price{
        font-size: 16px;
    }
}


@media(max-width: 460px){
    .card-product{
        padding-bottom: 10px;
        flex-direction: column;
        justify-content: none;
    }
    
}

