@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border: 0;
}

html, body{
    background-color: #E8E8E8;
}

a{
    text-decoration: none;
    color: unset;
}

header{
    background-color: #FFE500;
    height: 70px;
    color: #636363;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 1.5rem;
}

nav img{
    width: 20px;
    cursor: pointer;
}

nav div{
    display: flex;
    align-items: center;
}

#sign-in-link{
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
}

.item-nav{
    margin: 0 10px;
}

main{
    padding: 0 20px 80px 20px;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#product-details{
    padding-top: 20px;
}

.card{
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.card-top{
    border-bottom: 1px solid #D9D9D9;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card-top img{
    width: 220px;
}

.card-bottom{
    padding: 20px;
}

#product-price{
    color: #0CAF1D;
    font-size: 20px;
}

#product-price span{
    font-size: 15px;
}

.card-bottom h3{
    color: #636363;
    font-size: 1rem;
    margin-bottom: 10px;
}

.card-bottom p{
    color: #636363;
    font-size: 12px;
    margin-bottom: 15px;
}

.tags-container{
    display: flex;
}

.tags{
    color: #FFF;
    font-size: 12px;
    padding: 7px 20px;
    background-color: #636363;
    border-radius: 4px;
    margin-right: 20px;
}

.btn-container{
    margin-top: 20px;
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.btn{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
}

.btn-white{
    color: #3483FA;
    background-color: #FFF;
    border: 1px solid #3483FA;
}

.btn-white:hover{
    background-color: #ececec;
    transition: 0.5s;
}

.btn-blue{
    background-color: #3483FA;
    color: #FFF;
}

.btn-blue:hover{
    background-color: #2e75df;
    transition: 0.5s;
}


